@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main_page {
  background: #c0c0c0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* navbar css */
.navbar_container {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: white;
  padding: 10px 0 5px 0;
}

.ul_links {
  display: flex;
}

.ul_links a {
  width: 200px;
  height: 45px;
  text-align: center;
  margin-right: 100px;
  margin-top: 15px;
  padding: 5px 0 0 0;
  cursor: pointer;
}
.referals {
  display: inline;
}
.ul_links a:hover {
  box-shadow: 5px 10px 18px #f5f5f0;
}

.ul_links a i {
  margin-right: 10px;
  color: #ff4da6;
  opacity: 0;
}
.ul_links a:hover i {
  opacity: 1;
}
.ul_links a button {
  color: black;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  opacity: 1;
  background-color: white;
}

.ul_links a button:hover {
  background-color: #f5f5f0;
  cursor: pointer;
}

/* .ul_links a i:hover {
    display: block;
} */

.telegram_link {
  background-color: #f5f5f0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.telegram_link i {
  color: #990066;
  font-size: 20px;
  cursor: pointer;
}

/* home css */

.home_container {
  margin-top: 90px;
  background: #c0c0c0;
  padding-top: 2rem;
  padding-bottom: 4.3rem;
}

.home_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.home_main_span {
  display: flex;
  justify-content: flex-end;
  margin: 0 100px 0 0px;
  color: whitesmoke;
}

.home_main_span span {
  margin-right: 30px;
  font-weight: 500;
}

.home_section_left_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.home_section_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_section_left h3 b {
  color: #e4324c;
  font-size: 25px;
  font-weight: 600;
}

.home_percent {
  display: flex;
  margin-top: 30px;
}

.percent_left {
  background-image: url(./home_procent.png);
  background-repeat: no-repeat;
  width: 344px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent_left h2 {
  color: rgb(237, 27, 36);
  margin: 20px 0 0 0;
  font-size: 65px;
}

.percent_left p {
  font-size: 25px;
}

.percent_right {
  margin: -40px 0 0 -40px;
}

.percent_right h1 {
  color: #fcd740;
  font-weight: 800;
  font-size: 7rem;
  line-height: 135.5%;
  text-shadow: 0 0.7rem 1.4rem rgb(84 88 152 / 36%);
}

.percent_right h2 {
  color: #fcd740;
  font-weight: 100;
  font-size: 2rem;
  line-height: 135.5%;
  text-shadow: 0 0.7rem 1.4rem rgb(84 88 152 / 36%);
  display: flex;
  margin: 0 0 0 20px;
  letter-spacing: 5px;
}

.home_p {
  margin-top: -25px;
}

.home_p p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.cotract_btn {
  background-color: #e4324c;
  width: 400px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 15px;
}

.cotract_btn a button {
  background: #e4324c;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 17px;
  margin-left: 20px;
  cursor: pointer;
}

.cotract_btn a button:hover {
  cursor: pointer;
}

.cotract_btn i {
  color: #ffffff;
  margin-right: 20px;
}

/* invetment css */

.invest_container {
  background: #c0c0c0;
}

.invest_heading {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.invest_heading h2 {
  font-size: 35px;
  font-weight: bold;
}

.invest_heading span {
  font-size: 17px;
}

.invest_state {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  margin: 50px 200px 0 200px;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.invest_state span {
  color: gray;
}

.invest_state span b {
  color: black;
  margin-left: 5px;
}

.invest_detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 75px 0 0 0;
  flex-flow: wrap;
}

.invest_detail_left {
  background-color: #9cbff5 !important;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}

.invest_detail_left_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(252, 252, 255, 0.85);
  border-radius: 10px;
  width: 350px;
  padding: 2rem 0;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.invest_detail_left_head h3 {
  font-size: 30px;
  font-weight: 100;
}

.invest_detail_right {
  background-color: #9cbff5 !important;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}

.invest_amount {
  font-weight: 100;
  font-size: 12px;
  color: darkslategray;
}

.input_div {
  background: #f7f7fa;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.input_div i {
  color: rgb(184, 109, 165);
  font-size: 23px;
}

.input_div input {
  background: #f7f7fa;
  outline: none;
  border: none;
  direction: rtl;
  font-size: 18px;
}

.input_div span {
  color: gray;
  font-size: 20px;
}

.min_max_num {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  color: darkslategray;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.min_max_num span {
  margin: 0 30px;
}

.invest_detail_left_btn {
  color: #fff;
  background-color: #2552c7;
  width: 350px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.invest_detail_left_btn button {
  color: #fff;
  background-color: #2552c7;
  outline: none;
  border: none;
  margin-left: 20px;
  font-size: 18px;
}

.invest_detail_left_btn i {
  color: #fff;
}

.invest_detail_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invest_detail_right_head {
  margin-top: 20px;
}

.invest_detail_right_head_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.invest_detail_right_head_div p {
  margin: 0 20px;
  color: darkslategray;
}

.invest_detail_right_head_div p b {
  color: black;
}

.availible_dividends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.availible_dividends p {
  color: darkslategray;
}

.availible_dividends h3 {
  font-size: 30px;
  margin-top: 5px;
}

.para_between_btn {
  color: #ffffff;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 2px;
}

.referal_heading {
  color: #ffffff;
  font-size: 40px;
  margin: 50px 0 0 250px;
}

.referal_detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  flex-flow: wrap;
}

.referal_detail_left {
  background-color: #9cbff5 !important;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}

.referal_detail_left_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(252, 252, 255, 0.85);
  border-radius: 10px;
  width: 350px;
  padding: 2rem 0;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.referal_detail_left_head h3 {
  font-size: 27px;
  font-weight: 100;
}

.referal_detail_right {
  background-color: #9cbff5 !important;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}

.referal_input_div {
  background: #f7f7fa;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.referal_input_div i {
  color: rgb(184, 109, 165);
  font-size: 23px;
  margin-left: 20px;
}

.referal_input_div span {
  color: gray;
  font-size: 20px;
  margin-right: 20px;
}

.referal_input_div span b {
  margin-right: 10px;
  color: black;
}

.referal_num {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  color: darkslategray;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.referal_detail_right_head {
  text-align: center;
  color: darkslategray;
}

.copy_link_btn {
  color: #fff;
  background: url(./mask_btn.png) right no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#87afff), to(#6698fa));
  width: 350px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  -webkit-box-shadow: 0 15px 25px rgb(107 156 251 / 20%);
  box-shadow: 0 15px 25px rgb(107 156 251 / 20%);
  cursor: pointer;
}

.copy_link_btn button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-left: 30px;
  cursor: pointer;
}

.referal_percent_div {
  background: #f7f7fa;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.referal_percent_div span {
  color: gray;
  font-size: 20px;
  padding: 0 0 0 30px;
}

.referal_percent_div b {
  padding: 0 30px 0 0;
}

/* about css */

.about_container {
  background: #c0c0c0;
}

.about_section {
  margin-top: 150px;
}

.action_parts {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 50px;
}

.action_div {
  background: #9cbff5;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
}

.action_div p {
  padding: 0px 35px;
  font-weight: 100;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 2px;
}

.action_div_head {
  display: flex;
}

.action_div_head h4 {
  margin: 25px 0 0 0;
}

.action_color_1 {
  background: linear-gradient(135deg, #e36fa6 0%, #be212a 100%);
  width: 70px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
}

.action_color_2 {
  background: linear-gradient(180deg, #87afff 0%, #6d23bd61 100%);
  width: 60px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
}

.action_color_3 {
  background: linear-gradient(90deg, #ffe177 -67.99%, #feb137 83%);
  width: 60px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
}

.action_color_4 {
  background: linear-gradient(225deg, #4df5b9 0%, #82397f 100%);
  width: 60px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
}

.action_div h2 {
  font-size: 60px;
  color: lightgray;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* footer css */

.footer_container {
  background: #c0c0c0;
}

.footer_section {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 20px 0;
}

.footer_section h5 {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 30px 0 0px 0;
}

.footer_icon {
  background: #f7f7fa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer_icon i {
  color: rgb(184, 109, 165);
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .home_section_right img {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .home_section_right img {
    width: 300px;
  }

  .invest_state {
    margin: 50px 100px 0 100px;
  }
}

@media only screen and (max-width: 850px) {
  .home_section_right img {
    width: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .ul_links a {
    margin-right: 20px;
  }

  .home_section_right img {
    display: none;
  }

  .home_main_span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 50px;
  }

  .home_main_span span {
    margin-top: 5px;
  }

  .home_percent {
    display: flex;
    align-items: center;
  }

  .percent_left {
    background-image: none;
    width: 200px;
  }

  .percent_left h2 {
    font-size: 45px;
  }

  .percent_left p {
    font-size: 15px;
  }

  .percent_right {
    margin: -115px -100px 0 50px;
  }

  .percent_right h1 {
    font-weight: 200;
    font-size: 4rem;
  }

  .percent_right h2 {
    font-weight: 100;
    font-size: 18px;
    line-height: 85.5%;
  }

  .home_p {
    margin: -70px -100px 0 70px;
  }

  .cotract_btn {
    width: 100%;
    display: flex;
    margin: 20px 0 0 130px;
  }

  .invest_heading span {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .invest_state {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background: #c0c0c0;
    margin: 0px 50px 0 50px;
  }

  .invest_heading {
    margin-top: 30px;
  }

  .invest_state_1 {
    margin-top: 100px;
  }

  .invest_state_1 span {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
  }

  .invest_state_1 b {
    color: #ff4d94;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 5px;
  }

  .invest_state_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
  }

  .invest_state_2 span {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 3px;
  }

  .invest_state_2 b {
    color: #4db8ff;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 3px;
  }

  .referal_heading {
    color: #ffffff;
    font-size: 40px;
    margin: 20px 0 0 0;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .ul_links a {
    margin-right: 20px;
    width: 150px;
  }
}

@media only screen and (max-width: 550px) {
  .ul_links a {
    margin-right: 0px;
    width: 150px;
  }

  .home_p {
    margin: -70px -100px 0 0px;
  }

  .action_div {
    background: #9cbff5;
    width: 200px;
    height: 150px;
  }

  .action_div_head {
    display: flex;
    flex-direction: column-reverse;
  }

  .action_div_head h4 {
    margin: 15px 0 0 10px;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 3px;
  }

  .action_div p {
    display: none;
  }

  .action_div h2 {
    font-size: 50px;
    color: lightgray;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .telegram_link {
    display: none;
  }

  .home_percent {
    margin: 0 0 0 -100px;
  }

  .home_p {
    margin: -100px -50px 0 0px;
  }

  .cotract_btn {
    margin: 20px 0 0 50px;
  }
}

@media only screen and (max-width: 450px) {
  .invest_detail_left {
    width: 250px;
  }

  .invest_detail_left_head {
    width: 200px;
  }

  .input_div {
    width: 200px;
    border-radius: 10px;
  }

  .input_div i {
    font-size: 14px;
  }

  .input_div input {
    font-size: 11px;
  }

  .input_div span {
    font-size: 14px;
  }
  .invest_detail_left_btn {
    width: 200px;
  }

  .invest_detail_right {
    width: 250px;
  }

  .para_between_btn {
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .referal_detail_left {
    width: 250px;
  }

  .referal_detail_left_head {
    width: 200px;
  }

  .referal_input_div {
    width: 200px;
  }

  .referal_detail_right {
    width: 250px;
  }

  .copy_link_btn {
    width: 200px;
  }

  .referal_percent_div {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {

  .ul_links a {
    width: 115px;
  }
  .home_section_left h3 b {
    font-size: 20px;
}

  .percent_left {
    background-image: none;
    width: 150px;
  }

  .percent_left h2 {
    font-size: 30px;
  }

  .percent_left p {
    font-size: 11px;
  }

  .percent_right {
    margin: -140px -100px 0 10px;
  }

  .percent_right h1 {
    font-weight: 200;
    font-size: 2rem;
  }

  .percent_right h2 {
    font-weight: 100;
    font-size: 15px;
    line-height: 85.5%;
  }

  .home_p {
    margin: -70px -100px 0 -50px;
  }

  .home_p p {
    font-size: 17px;
  }

  .cotract_btn {
    margin: 20px 0 0 20px;
  }

  .footer_section h5 {
    font-size: 10px;
  }
  
  .footer_icon {
    width: 40px;
    height: 40px;
  }
  
  .footer_icon i {
    font-size: 14px;
  }
  
}

@media only screen and (max-width: 350px) {
  .header_logo img {
    width: 60px;
    margin: 10px 0 0 0;
  }
}
